<a href="https://colab.research.google.com/github/maiormarso/AB-Demo/blob/master/module2/week2_3_day_2_LS_DS9_122_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
import pandas as pd
cols = [   
   'party',
   'handicapped-infants',
   'water-project',
   'budget',
   'physician-fee-freeze',
   'el-salvador-aid',
   'religious-groups',
   'anti-satellite-ban',
   'aid-to-contras',
   'mx-missile',
   'immigration',
   'synfuels',
   'education',
   'right-to-sue',
   'crime',
   'duty_free',
   'south_Africa']
df = pd.read_csv('house-votes-84.data', names=cols)
df.head(1)

--2019-10-09 02:38:55--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2019-10-09 02:38:55 (287 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

        party handicapped-infants water-project  ... crime duty_free south_Africa
0  republican                   n             y  ...     y         n            y

[1 rows x 17 columns]

In [0]:
import numpy as np
import pandas as pd
df=df.replace({'?': 'NaN', 'n':0.0, 'y':1.0})
#df=df.replace({'?':np.NaN})
df.head(8)

        party handicapped-infants water-project  ... crime duty_free south_Africa
0  republican                   0             1  ...     1         0            1
1  republican                   0             1  ...     1         0          NaN
2    democrat                 NaN             1  ...     1         0            0
3    democrat                   0             1  ...     0         0            1
4    democrat                   1             1  ...     1         1            1
5    democrat                   0             1  ...     1         1            1
6    democrat                   0             1  ...     1         1            1
7  republican                   0             1  ...     1       NaN            1

[8 rows x 17 columns]

In [0]:
df.index

RangeIndex(start=0, stop=435, step=1)

In [0]:
df.shape

(435, 17)

In [0]:
df.party.value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
rep = df[df['party'] =='republican']
rep.head()

         party handicapped-infants water-project  ... crime duty_free south_Africa
0   republican                   0             1  ...     1         0            1
1   republican                   0             1  ...     1         0          NaN
7   republican                   0             1  ...     1       NaN            1
8   republican                   0             1  ...     1         0            1
10  republican                   0             1  ...     1         0            0

[5 rows x 17 columns]

In [0]:
rep.sum(axis = 0, skipna = True)

party    republicanrepublicanrepublicanrepublicanrepubl...
dtype: object

In [0]:
dem = df[df['party'] =='democrat']
dem.head()

      party handicapped-infants water-project  ... crime duty_free south_Africa
2  democrat                 NaN             1  ...     1         0            0
3  democrat                   0             1  ...     0         0            1
4  democrat                   1             1  ...     1         1            1
5  democrat                   0             1  ...     1         1            1
6  democrat                   0             1  ...     1         1            1

[5 rows x 17 columns]

In [0]:
dem.sum(axis = 0, skipna = True)

party    democratdemocratdemocratdemocratdemocratdemocr...
dtype: object

In [0]:
dem.head()

      party handicapped-infants water-project  ... crime duty_free south_Africa
2  democrat                 NaN             1  ...     1         0            0
3  democrat                   0             1  ...     0         0            1
4  democrat                   1             1  ...     1         1            1
5  democrat                   0             1  ...     1         1            1
6  democrat                   0             1  ...     1         1            1

[5 rows x 17 columns]

In [0]:
dem=dem.drop(columns=['party'])
dem.head()

  handicapped-infants water-project budget  ... crime duty_free south_Africa
2                 NaN             1      1  ...     1         0            0
3                   0             1      1  ...     0         0            1
4                   1             1      1  ...     1         1            1
5                   0             1      1  ...     1         1            1
6                   0             1      0  ...     1         1            1

[5 rows x 16 columns]

In [0]:
dem.dtypes

handicapped-infants     object
water-project           object
budget                  object
physician-fee-freeze    object
el-salvador-aid         object
religious-groups        object
anti-satellite-ban      object
aid-to-contras          object
mx-missile              object
immigration             object
synfuels                object
education               object
right-to-sue            object
crime                   object
duty_free               object
south_Africa            object
dtype: object

In [0]:
dem = dem.astype(float)

In [0]:
dem.head()

     handicapped-infants  water-project  budget  ...  crime  duty_free  south_Africa
425                  0.0            0.0     1.0  ...    0.0        1.0           NaN
426                  1.0            0.0     1.0  ...    0.0        1.0           1.0
428                  NaN            NaN     NaN  ...    0.0        1.0           1.0
429                  1.0            0.0     1.0  ...    NaN        1.0           1.0
431                  0.0            0.0     1.0  ...    0.0        0.0           1.0

[5 rows x 16 columns]

In [0]:
from scipy.stats import t
from scipy import stats
CI = t.interval(dem['budget'], .95)
a = dem['budget'].dropna()
confidence_interval = t.interval(0.95, len(a)-1, loc=np.mean(a), scale=stats.sem(a))
confidence_interval

IndexError: ignored

In [0]:

budget_m = dem['budget'].mean()
print(budget_m)

IndexError: ignored

In [0]:
confidence = 0.95
(1 + confidence) / 2.0  # This converts confidence to two-tailed

0.975

In [0]:
confidence_level = .95
dof = #42-1

stats.t.ppf((1 + confidence_level) / 2, dof)

2.0195409639828936

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.kdeplot(dem['budget'])                               
               #
plt.axvline(x=CI_plus, color='red')       #CI_plus,
plt.axvline(x=CI_minus, color='red')       #CI_minus,
plt.axvline(x=budget, color='k');

# But focus on vertical lines for the interval

IndexError: ignored

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)

In [0]:
plt.axvline(x=CI[1], color='red')       #CI_plus,
plt.axvline(x=CI[2], color='red')       #CI_minus,
plt.axvline(x=CI[0], color='k');